<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Brian Elting - Web Developer</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- inject:css -->
  <!-- endinject -->

  <head>

    <body>
      <nav id="nav" class="scrolled">{{{html.nav}}}</nav>
      <header id="header">
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-sm-push-3">
              <h1>Brian Elting</h1>
              <h2>Web Developer</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec nisl sed turpis venenatis ornare convallis a mauris. Curabitur a felis nec arcu sagittis</p>
            </div>
            <div class="col-sm-3 col-sm-pull-9">
              <img class="profile-image scale-image" src="/images/be-profile.jpg">
            </div>
          </div>
        </div>
      </header>
      <section id="experience">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1>Experience</h1>
            </div>
          </div>
          {{#each model.experience}}
          <div class="row">
            <div class="col-sm-3">
              <span class="date">{{date}}</span>
            </div>
            <div class="col-sm-9">
              <div class="timeline"></div>
              <h2>{{title}}</h2>
              <h3>{{company}}</h3>
              <ul>
                {{#each bullets}}
                <li>{{this}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
          {{/each}}
        </div>
      </section>
      <section id="education">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1>Education</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9 col-sm-push-3">
              <h2>Bachelor of Arts in Business Administration: Finance and Marketing</h2>
              <p>Foster School of Business</p>
              <p>University of Washingotn</p>
              <p>Class of 2010</p>
            </div>
            <div class="col-sm-3 col-sm-pull-9">
              <img class="scale-image" src="/images/uw.png">
            </div>
          </div>
        </div>
      </section>
      <section id="skills">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1>Skills</h1>
            </div>
          </div>
          <div class="row">
            {{#each model.skills}}
            <div class="col-sm-6">
              <ul>
                {{#each this}}
                <li>
                  <h3>{{name}}</h3>
                  <span class="level {{level}}"></span>
                </li>
                {{/each}}
              </ul>
            </div>
            {{/each}}
          </div>
      </section>
      <section id="projects">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1>Projects</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9 col-sm-push-3">
              <h2>JSON Inspect</h2>
              <h3>Android App on Google Play</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec nisl sed turpis venenatis ornare convallis a mauris. Curabitur a felis nec arcu sagittis</p>
            </div>
            <div class="col-sm-3 col-sm-pull-9">
              <img class="scale-image" src="/images/json-inspect.png">
            </div>
          </div>
        </div>
      </section>
      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1>Contact</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <ul>
                <li>
                  <i class="material-icons md-36">&#xE158;</i>
                  <a href="{{{html.contactEmailLink}}}" target="_blank">{{{html.contactEmail}}}</a>
                </li>
                <li>
                  <i class="material-icons md-36">&#xE55F;</i>
                  <span>Seattle, WA</span>
                </li>
              </ul>
            </div>
            <div class="col-md-9">
              <div id="contactForm">{{{html.contactForm}}}</div>
            </div>
          </div>
        </div>
      </section>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="https://fb.me/react-0.13.3.js"></script>
      <!-- inject:js -->
      <!-- endinject -->
    </body>

</html>